<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>CONTACT SECTION</h2>
                <app-line-break [isAlt]="true"></app-line-break>
            </div>
            <div class="col-md-12">
                <div class="contactForm position-relative">
                    <form class="position-relative">
                        <label for="userName" class="contactLeft contactLabel">User Name</label>
                        <input id="userName" type="text" placeholder="User Name" class="form-control p-3 my-2">
                        <label for="userAge" class="contactLeft contactLabel">User Age</label>
                        <input id="userAge" type="number" placeholder="User Age" class="form-control p-3 my-2">
                        <label for="userEmail" class="contactLeft contactLabel">User Email</label>
                        <input id="userEmail" type="email" placeholder="User Email" class="form-control p-3 my-2">
                        <label for="userPassword" class="contactLeft contactLabel">User Password</label>
                        <input id="userPassword" type="password" placeholder="User Password" class="form-control p-3 my-2">

                        <input type="button" class="btn btn-lg contactLeft px-5 my-3 text-center botn" value=" Send Message " >
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>