<section class="about">
    <div class="container">
        <div class="row about-content">
            <div class="col-md-12">
                <h2 class="display-4">ABOUT ME</h2>
                <app-line-break></app-line-break>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 ">
                        <div class="aboutText ps-3">
                            <p>
                                I'm <strong>Fryler</strong>, a passionate gamer and live streamer with over <strong>5 years</strong> of experience in the world of competitive gaming.  
                                I specialize in action-packed games like <em>Call of Duty, Fifa, and Counter-Strike</em>. </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="aboutText pe-3">
                            <p>
                                My journey started back in 2019 when I uploaded my first gameplay video. Since then, I’ve built a strong community of gamers who share the same love for adrenaline-filled matches, strategy, and teamwork.
                            </p>
                        </div>
                    </div>
                </div>
                </div>
                
            </div>
        </div>
</section>
